logging-to-file = true      # enables logging of every patch process to a seperate file
enable-module-update = true # set this to false if you do not want to receive updates for the module
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/E85Addict/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config

[YouTube]
enabled = true
build-mode = "both"
module-prop-name = "youtube-E85"
excluded-patches = ""
included-patches = ""
patcher-args = """\
    -e 'Change header' -Ocustom=logos/vanced_og_header/ \
    -e 'Custom branding' -OcustomName='YouTube' -OcustomIcon=logos/vanced_og_launcher/ \
    """
version = "auto"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.google.android.youtube"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.google.android.youtube-20.14.43-all.apk"
github-release-dlurl = "https://github.com/E85Addict/APKs/releases/latest"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"

[YouTube-Morphe]
enabled = true
app-name = "YouTube"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.google.android.youtube"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.google.android.youtube-20.40.45-all.apk"
github-release-dlurl = "https://github.com/E85Addict/APKs/releases/latest"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
build-mode = "both"
module-prop-name = "youtube-E85"
patcher-args = """\
    -e 'Change header' -Ocustom=logos/vanced_og_header/ \
    -e 'Custom branding' -OcustomName='YouTube' -OcustomIcon=logos/vanced_og_launcher/ \
    """
patches-source = "MorpheApp/morphe-patches"
cli-source = "MorpheApp/morphe-cli"
rv-brand = "Morphe"

[Music]
enabled = true
build-mode = "both"
module-prop-name = "music-E85"
arch = "arm64-v8a"
patcher-args = """\
    -e 'Custom branding' -OcustomName='YouTube Music' -OcustomIcon=logos/vanced_og_music_launcher/ \
    """
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.google.android.apps.youtube.music"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.google.android.apps.youtube.music-8.10.52-arm64-v8a.apk"
github-release-dlurl = "https://github.com/E85Addict/APKs/releases/latest"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube-music"
uptodown-dlurl = "https://youtube-music.en.uptodown.com/android"

[Music-Morphe]
enabled = true
app-name = "Music"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.google.android.apps.youtube.music"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.google.android.apps.youtube.music-8.40.54-arm64-v8a.apk"
github-release-dlurl = "https://github.com/E85Addict/APKs/releases/latest"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube-music"
uptodown-dlurl = "https://youtube-music.en.uptodown.com/android"
build-mode = "both"
module-prop-name = "music-E85"
patcher-args = """\
    -e 'Custom branding' -OcustomName='YouTube Music' -OcustomIcon=logos/vanced_og_music_launcher/ \
    """
arch = "arm64-v8a"
patches-source = "MorpheApp/morphe-patches"
cli-source = "MorpheApp/morphe-cli"
rv-brand = "Morphe"

[Reddit-Morphe]
enabled = true
app-name = "Reddit"
rv-brand = "Morphe"
build-mode = "both"
patches-source = "MorpheApp/morphe-patches"
cli-source = "MorpheApp/morphe-cli"
apkmirror-dlurl = "https://www.apkmirror.com/apk/redditinc/reddit/"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.reddit.frontpage"
uptodown-dlurl = "https://reddit-official-app.en.uptodown.com/android"
dpi = "120-640dpi"

[GooglePhotos]
enabled = false
build-mode = "both"
arch = "both"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/photos/"
uptodown-dlurl = "https://google-photos.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.apps.photos"

[Spotify]
enabled = false
build-mode = "both"
version = "auto"
uptodown-dlurl = "https://spotify.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.spotify.music"

[Twitch]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/twitch-interactive-inc/twitch/"
uptodown-dlurl = "https://twitch.en.uptodown.com/android"
# archive-dlurl = "https://archive.org/download/jhc-apks/apks/tv.twitch.android.app"

[Twitter]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/x-corp/twitter"
build-mode = "apk"
dpi = "120-640dpi"
# archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.twitter.android"

[TikTok]
enabled = true
build-mode = "both"
patches-source = "E85Addicts/revanced-patches"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.zhiliaoapp.musically-43.8.3-all.apk"
apkmirror-dlurl = "https://www.apkmirror.com/apk/tiktok-pte-ltd/tik-tok-including-musical-ly/"
uptodown-dlurl = "https://tiktok.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.zhiliaoapp.musically"

[Messenger]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/facebook-2/messenger/"
arch = "arm64-v8a"

[IconPackStudio]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/smart-launcher-team/icon-pack-studio/"

[YouTube-Custom]
enabled = true
exclusive-patches = true
module-prop-name = "youtube-E85"
build-mode = "module"
included-patches = """\
    'Custom branding' 'Seekbar' 'Remove background playback restrictions' \
    'Video ads' 'Hide ads' 'Video quality' 'Theme' 'Change form factor' \
    'Return YouTube Dislike' 'Miniplayer' 'SponsorBlock' \
    """
patcher-args = """\
    -e 'Change header' -Ocustom=logos/vanced_og_header/ \
    -e 'Custom branding' -OcustomName='YouTube' -OcustomIcon=logos/vanced_og_launcher/ \
    """
version = "auto"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.google.android.youtube"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.google.android.youtube-20.14.43-all.apk"
github-release-dlurl = "https://github.com/E85Addict/APKs/releases/latest"
apkmirror-dlurl = "https://apkmirror.com/apk/google-inc/youtube"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"

[Pandora]
enabled = true
build-mode = "both"
version = "auto"
patches-source = "ReVanced/revanced-patches"
direct-dlurl = "https://github.com/E85Addict/APKs/releases/download/1/com.pandora.android-2601.1-all.apk"
apkmirror-dlurl = "https://www.apkmirror.com/apk/pandora/pandora-music-podcasts/"
archive-dlurl = "https://archive.org/download/e85-apks/apks/com.pandora.android"
